{% load i18n %}
{% load footer_menu menu from shop %}
{% load placeholder %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load translate_url from urls %}
<html>
<head>
  <title></title>
  <script src="https://kit.fontawesome.com/13cc41cf95.js"></script>
  <style>
    h1{
        color:white;
    }
    a{
        color:white;
        margin-right:2%;
    }
  </style>
</head>
<body style="background-color:black";>
<div class="container">
  <div style="margin-top:10%;">
    <img src="{% static 'images/ghar_banao.png' %}" style="margin-left:20% ;" width="150px" height="150px"> <img src="{% static 'images/ghar_banao.png' %}" style="margin-left:45% ;" width="150px" height="150px">

    <h1 align="center";>Coming Soon</h1>

  </div>

  <div class="row" align="center" style="margin-top:5%;">
    <a rel="noopener" href="https://www.facebook.com/gharbanao" target="_blank"><i class=" fab fa-facebook-square fa-3x"></i></a>
    <a rel="noopener" href="https://www.twitter.com/gharbanao" target="_blank"><i class=" fab fa-twitter fa-3x"></i></a>
    <a rel="noopener" href="https://www.instagram.com/gharbanao" target="_blank"><i class=" fab fa-instagram fa-3x"></i></a>
    <a rel="noopener" href="https://www.linkedin.com/gharbanao" target="_blank"><i class=" fab fa-linkedin-in fa-3x"></i></a>
  </div>
</div>
</body>
</html>
